<section class="container-fluid pt-4 mb-4">
  <div class="row">
    <div class="col">

      <div *ngIf="!users" class="alert alert-info">
        <i class="fas fa-exclamation-triangle"></i>
        {{ "ALERT.NOT_USERS" | translate }}
      </div>

      <!-- Begin::User Card Table -->
      <div *ngIf="users" class="card">
        <div class="card-header">
          {{ "GENERAL.USERS" | translate}}
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>{{ "GENERAL.ID" | translate }}</th>
                <th>{{ "GENERAL.LOGIN_NAME" | translate }}</th>
                <th>{{ "GENERAL.AVATAR" | translate }}</th>
                <th>{{ "GENERAL.GITHUB_PROFILE_URL" | translate }}</th>
                <th>{{ "GENERAL.USER_TYPE" | translate }}</th>
                <th>{{ "GENERAL.SITE_ADMIN" | translate }}</th>
                <th>{{ "GENERAL.ACTION" | translate }}</th>
              </tr>
              </thead>

              <tbody>
                <tr *ngFor="let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <td>{{ user.id }}</td>
                  <td>{{ user.login }}</td>
                  <td>
                    <img src="{{ user.avatar_url }}" alt="User Avatar">
                  </td>
                  <td class="text-nowrap">
                    <a href="{{ user.html_url }}" target="_blank">
                      {{ "GENERAL.GO_TO_USER_GITHUB_PROFILE" | translate }}
                    </a>
                  </td>
                  <td>
                    <span class="badge badge-secondary">{{ user.type }}</span>
                  </td>
                  <td>
                    <i [ngClass]="user.site_admin === false ? 'fas fa-ban text-danger' : 'fas fa-user-shield'"></i>
                  </td>
                  <td>
                    <button class="btn btn-primary text-nowrap"
                            (click)="editUser(user)">
                      <i class="far fa-eye"></i> {{ "BUTTON.EDIT" | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer d-flex justify-content-center">
          <ngb-pagination [collectionSize]="users.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
        </div>
      </div>
      <!-- End::User Card Table -->

    </div>
  </div>
</section>
